<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">BigData Analysis - Taller 04 - Grupo 07</h1>
    </div>
</div>

<div id="news_div" class="row">
    <div class="col-lg-4">
        <div id="allnews_div" class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-user fa-fw"></i>Adolfo Duarte
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <span class="chat-img pull-left">
                    <img src="/static/images/businessman.png" alt="User Avatar" class="img-circle">
                </span>
                <div class="chat-body clearfix">
                    <div class="header">                
                        <small class="text-muted">
                            <i class="fa fa-envelope-o fa-fw"></i>a.duarte@uniandes.edu.co
                        </small>
                    </div>
                    <p>
                        Adolfo Duarte Rueda.
                        <br/>
                        Codigo: 201527721
                    </p>                
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>

    <div class="col-lg-4">
        <div id="regexp_div" class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-user fa-fw"></i> John Gonz&aacute;lez
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <span class="chat-img pull-left">
                    <img src="/static/images/businessman.png" alt="User Avatar" class="img-circle">
                </span>
                <div class="chat-body clearfix">
                    <div class="header">                
                        <small class="text-muted">
                            <i class="fa fa-envelope-o fa-fw"></i>jj.gonzalezt@uniandes.edu.co
                        </small>
                    </div>
                    <p>
                        John Gonz&aacute;lez.
                        <br/>
                        Codigo: 201528141
                    </p>                
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>

    <div class="col-lg-4">
        <div id="xquery_div" class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-user fa-fw"></i> Julio Mario Sosa O.
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <span class="chat-img pull-left">
                    <img src="/static/images/businessman.png" alt="User Avatar" class="img-circle">
                </span>
                <div class="chat-body clearfix">
                    <div class="header">                
                        <small class="text-muted">
                            <i class="fa fa-envelope-o fa-fw"></i>jm.sosa@uniandes.edu.co
                        </small>
                    </div>
                    <p>
                        Julio Mario Sosa O.
                        <br/>
                        Codigo: 201525127
                    </p>                
                </div>
            </div>
        </div>
    </div>
</div>
