<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> NER Settings:
    </div>
     <div class="form-group">
        <label for="ner">NER:</label>
        <select id="ner" class="form-control">
            <option value="0">None</option>
            <option value="1">Stanford's NER</option>
            <option value="2">Spotlight's NER</option>
        </select>
    </div>
</div>
<script type="text/javascript">
    $( "#ner").change(function() {
        ner_id= $( this ).val();
        refresh_question_info({{question.question_id}}, ner_id);
    });
</script>
<div id="question_info">
    {% include "taller04app/question_detail_info.html" %}
</div>